POSTGRES_DB=1flowbase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1flowbase
POSTGRES_PORT=35432

REDIS_PASSWORD=1flowbase
REDIS_PORT=36379

RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_PORT=39000
RUSTFS_CONSOLE_PORT=39001
RUSTFS_BUCKET=1flowbase-local

SANDBOX_API_KEY=1flowbase-sandbox
SANDBOX_PORT=38194
SANDBOX_ENABLE_NETWORK=true
SANDBOX_WORKER_TIMEOUT=20
